/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

html {
  background: #000;

  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

body{

    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
.main {
    width: 100% !important;
    margin: auto;
    margin-top:200px;
    height: 700px;
    background: linear-gradient(180deg, #04E000 0%, rgba(115, 247, 112, 0.85) 48.96%, rgba(108, 255, 105, 0.69) 100%);
  
    box-shadow: 0px 0px 50px 5px rgba(7, 252, 0, 0.2);
  }
  
  .main .content {
    width: 1200px;
    height: 700px;
    margin: auto;
    background-image: url("../images/pc/pcadd.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 40%;
  }

  .main .content h1{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
color: #FFFFFF;
text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
width: 1030px;
padding-top: 200px;
  }

  .main .content h2{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 22px;
color: #FFFFFF;
text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
width: 1030px;
  }

  .main .content button {
    margin-top: 100px;
    width: 500px;
    height: 55px;
    border-radius: 5px;
    color:#00FF00;
    transition: all .7s ease-in-out;
    font-size: 32px;
    font-weight: 600;
    background: #fff;
    border: 2px solid #fff;
  }
  
  .main .content button:hover{
    color:#FFFFFF;
    background: transparent;
  }
  .bubls .content {
    width: 1400px;
    margin: auto;
  }
    .bubls{
        margin-top: 100px;
        width: 100%;
        background-image: url("../images/bubls.png");
  }

  .bubls .content .blocks {
    display: flex;
  }
  .bubls .content .blocks2 {
    display: flex;
  }

  .blocks {
    opacity: .5;
    transition: all .7s ease-in-out;
  }
  .blocks:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
  }
  

  .blocks{
    background: #ffffff3a;
    padding: 0px;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    height: 495px;
  }

  .block-left {
    height: auto;
    width: 1000px;
    background-image: url("../images/pc/serv.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

.block-right{
    width: 1000px;
    padding: 20px;
}

  .block-right h3{
    padding-top: 50px;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 30px;
color: #FFFFFF;
padding-bottom: 10px;
  }

  .block-right p{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
color: #b3b3b3;
  }

  .block-right ul {
    padding-top: 20px;
  }

  .block-right ul li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
  }
  .block-right ul li h4{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #b3b3b3;
  }
  .block-right ul li h4 strong{
    width: 50px;
    font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 40px;
color: #ffffff;
  }













  
  .blocks2{
    background: #ffffff3a;
    padding: 0px;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    height: 495px;
    margin-top: 50px;
  }

  .blocks2 .block-right2 {
    height: auto;
    width: 1000px;
    background-image: url("../images/pc/serv2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .blocks2 .block-left2{
    width: 1000px;
    padding: 20px;
}

.blocks2 .block-left2 h3{
    padding-top: 20px;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 30px;
color: #FFFFFF;
padding-bottom: 10px;
  }

  .blocks2 .block-left2 p{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
color: #b3b3b3;
  }

  .blocks2 .block-left2 ul {
    padding-top: 20px;
  }

  .blocks2 .block-left2 ul li {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #b3b3b3;
    padding-bottom: 10px;
  }

.blocks2 .block-left2 i {
    font-size: 10px;
    color:#00FF00;
    padding-right: 5px;
}

  .blocks2 {
    backdrop-filter: blur(20px);
    opacity: .5;
    transition: all .7s ease-in-out;
  }
  .blocks2:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
  }
  

  .blocks2 .block-left2 .price {
    color: #ffffff;
    background: transparent;
    border: 2px solid #fff;
    font-size: 18px;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    margin-top: 15px;
  }

  .blocks2 .block-left2 .price:hover {
    color: #00FF00;
    background: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    width: 300px;
    height: 45px;
  }

  .bubls .pluses {
    margin: auto;
    margin-top: 50px;
    width: 1400px;
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 37px;
grid-row-gap: 50px;
  }

  .bubls .pluses .plus {
    cursor: pointer;
    padding: 20px;
    text-align: center;
    width: 250px;
    height: 240px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    transition: all .5s ease-in-out;
  }


  .bubls .pluses .plus:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  .bubls .pluses .plus i {
    font-size: 80px;
    transition: all .5s ease-in-out;
    color:#00FF00;
    padding-bottom: 10px;
  }

  .bubls .pluses .plus h3 {
    font-size: 28px;
    font-weight: 600;
    color:#fff;
    padding-bottom: 10px;
  }
  
  .bubls .pluses .plus h4 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color:#cacaca;
    padding-bottom: 10px;
  }

  .bubls .zapis {
    color: #ffffff;
    background: transparent;
    border: 2px solid #fff;
    font-size: 18px;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    margin-top: 35px;
  }

.bubls .zapiss {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

  .bubls .zapis:hover {
    color: #00FF00;
    background: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    width: 300px;
    height: 45px;
  }

  .bubls .items {
    width: 1400px;
    margin: auto;
    margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
  }

  .bubls .items .item {
    padding: 20px;
    text-align: center;
    align-items: center;
    vertical-align: bottom;
    width: 250;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    transition: all .5s ease-in-out;
    cursor: pointer;
    backdrop-filter: blur(20px);
    border-radius: 5px;
  }
  .bubls .items .item:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .bubls .items .item h4{
    vertical-align: middle;
    font-size: 22px;
    font-weight: 600;
    color:#fff;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .bubls .items .item svg path {
    stroke: #fff;
    
  }
  .bubls .items .item svg polygon {
    fill: #fff;
  }
  .bubls .items .item svg{
    vertical-align: middle;
  }


  .bubls h2 {
    margin-top: 100px;
    text-align: center;
    font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  }

  


footer {
  width: 100%;
  margin-top: 00px;
  background: url("../images/mountis.png");
}


footer .mountins {
  background: transparent;
  height: 1100px;
  width: 1200px;
  margin: auto;
  padding-top: 400px;
}
footer .mountins .content .socials li {
  padding-left: 50px;
  padding-right: 50px;
  display: inline;
}

footer .mountins .content{
  text-align: center;
  width: 1200px;
  height: 380px;
  background: rgba(254, 254, 254, 0.2);
border: 2px solid #ffffff62;
border-radius: 5px;
padding: 10px 10px 10px;
transition: all .7s ease-in-out;
}
footer .mountins .content:hover{
  background: rgba(254, 254, 254, 0.3);
border: 2px solid #FFFFFF;
}
footer .mountins .content img{
    padding-top: 30px;
    transition: all .7s ease-in-out;
    opacity: .5;
}
footer .mountins .content:hover img{
  opacity: 1;
}

footer .mountins .content:hover .navigatr li a{
  color:#fff;
}
footer .mountins .content:hover .socials li svg path{
  fill:#fff;
}
footer .mountins .content .navigatr li{
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
}

footer .mountins .content .navigatr {
  padding-top: 30px;
  padding-bottom: 50px;
}
footer .mountins .content .navigatr li a{
  transition: all .7s ease-in-out;
  font-size: 22px;
  font-weight: 600;
  color:#a5a5a5;
}
footer .mountins .content .navigatr li a:hover{
  font-size: 22px;
  color:#000000;
}

footer .mountins .content .socials li svg path{
  transition: all .7s ease-in-out;
  font-size: 22px;
  fill:#a5a5a5;

}
footer .mountins .content .socials li svg path:hover{
  font-size: 22px;
  fill:#000000;
}

